.App{
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.App > img{
    height: 100px;
    margin-top: 20px;

}
.form{
    padding: 15px;
    margin: 12px; 
   width: 96%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: rgb(228, 226, 226);
     
    
}

.app_form{
    /* padding: 15px;
    margin: 15px; 
   width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: rgb(228, 226, 226); */
     
    
}
.app_control{
    display: flex !important;
    flex-direction: row !important;
    
}
.app_input{
 flex: 1;
}

.app_button{
   flex: 0;

}
